{{> head }}
{{> navbar}}
  
  <div class="row">
      <div class="col-8">
          <h1>Gatito</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore repellendus harum possimus natus autem rerum officiis est quasi, animi vitae aut iusto. Ab deleniti asperiores, quisquam vero, fugiat, sapiente dolorem laudantium suscipit mollitia est nisi ipsa! Totam voluptate, quod quidem excepturi sapiente fuga eos cumque cupiditate asperiores, repudiandae commodi at? Fuga inventore et quibusdam. Nobis blanditiis quis sunt et, veniam libero reiciendis deserunt velit fugiat assumenda voluptates, quos nam esse incidunt labore, quo adipisci. Perspiciatis quaerat nihil aspernatur dolore voluptatem dicta deserunt nobis deleniti repudiandae molestias, numquam sint tenetur ex autem obcaecati nam veniam ratione fuga maiores hic fugiat commodi.</p>
      </div>
      <div class="col-4">
          <img src="../public/assets/img/descarga.jpg" class="img-thumbnail">
      </div>
  </div>
{{> footer}}